body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #e7e7e7;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.details-section {
    padding: 20px;
}

.details-section h1 {
    margin: 0;
    font-size: 24px;
}

.rating {
    
    justify-content: space-between;
    margin: 10px 0;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
}

.image-section img {
    
    width: 100%;       /* Make the image responsive */
    max-width: 800px;  /* Set the maximum width */
    height: auto; 
}

.right {
    flex: 1;
    padding-left: 20px;
    border-radius: 1px solid black;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 1px solid rgb(202, 202, 202);
    background-color: white;
}

.pricing {
    margin-bottom: 20px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #ff6f61;
}

.original-price {
    text-decoration: line-through;
    color: #888;
}

.discount {
    color: #ff6f61;
}

.features {
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    gap: 10px; 
}

.features span {
    display: flex; 
    align-items: center; 
/* Background color for the spans */
    padding: 5px; 
    border-radius: 3px; 
}

.features span i {
    margin-right: 10px; 
    color: gray; 
}

button {
    flex-direction: column;
    /* width: 100%; */
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}
.columns {
    display: flex;
  
    gap: 200px;
}
.column {
    list-style-type: none;
    padding: 0;
}

.column li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.column li i {
    margin-right: 10px;
}
.currency-selector {
    display: flex;
    
    font-size: 16px;
    margin-top: 30px;
}

.currency-selector .flag-icon {
    margin-right: 10px;
}

.choose-date {
    background-color: #007bff;
    color: #fff;
}

.ask-question {
    background-color: #ffc107;
    color: #fff;
}

.contact {
    margin-top: 20px;
    font-size: 14px;
}

.info-section {
    padding: 20px;
    background-color: #e7e7e7;
}

.info-section ul {
    padding: 0;
    list-style-type: none;
}

.info-section ul li {
    margin: 10px 0;
}

.info-section p {
    margin-top: 20px;
}
.column li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.column li i {
    margin-right: 10px;
    color: #888;
}


.choose-date, .ask-question {
    display: block;
    margin-bottom: 10px; /* Adds space between the buttons */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}